$color: #31553f;

.mainWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  padding: 50px 30px 50px 30px;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../../assets/flowers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $color;
}
.card {
  padding: 1rem;
  border-radius: 10px;
  max-width: 400px;
  height: 100%;
  background-image: url(../../../assets/noise7.png);
  color: $color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 5px 15px #000;
  h2 {
    font-family: "Caveat", cursive;
    font-size: 2rem;
    color: $color;
  }
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
.text {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 1.4rem;
  color: $color;
  line-height: 1.5rem;
}

.footer {
  width: 100%;
  font-family: "Caveat", cursive;
  text-align: right;
  font-size: 1.2rem;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
